        {% load static from staticfiles %}
        <div class="clearfix"></div>
        <footer class="col-md-12 text-center" id="footer">
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.es"><img src="{% static "img/creative_commons/cc.png" %}" title="Creative Commons" alt="Creative Commons" /></a>
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.es"><img src="{% static "img/creative_commons/by.png" %}" title="Atribución" alt="Atribución" /></a>
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.es"><img src="{% static "img/creative_commons/nc.png" %}" title="NoComercial" alt="NoComercial" /></a>
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.es"><img src="{% static "img/creative_commons/sa.png" %}" title="CompartirIgual" alt="CompartirIgual" /></a>
            <p>
                Desarrollado por <a href="http://www.icter.us">ScoutsFalcon</a><br>2013 - 2015
            </p>
        </footer>

        <!-- Fork Me Github -->
        <a href="https://github.com/Jamp/DiaUniformeScouts2.0"><img class="desktop" style="position: absolute; top: 0; right: 0; border: 0; z-index:100000"src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

    <script id="items" type="text/x-jquery-tmpl">
            <div class="col-md-4">
                <div class="panel panel-default photo">
                    <div class="panel-thumbnail">
                        <img src="${url}" title="${creado_at}" alt="${creado_at}" class="img-responsive">
                    </div>
                    <div class="panel-body">
                        <p>Publicado: ${creado_at}</p>
                    </div>
                </div>
            </div>
    </script>

    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.tmpl.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-filestyle.min.js" %}"></script>
    <script type="text/javascript">
        $(function(){
            var page = 1;
            var total = {{ all.count }}-1;
            var actual = {{ id_album }};
            var text = $('#siguiente').html();
            $('#siguiente').on('click', function(event){
                event.preventDefault();
                var link = this.href;
                page++;
                var url = link+page+'/'+actual;
                var loading = '<i class="fa fa-spinner fa-spin"></i> Cargando...';

                $('#siguiente').html(loading);
                $('#gallery').append('<div class="row">');
                $.getJSON(
                    url,
                    null,
                    function(data){
                        row1 = data.slice(0, 3);
                        row2 = data.slice(3, 6);

                        $('#items').tmpl(row1).appendTo('#gallery');
                        $('#gallery').append('</div><div class="row">');

                        $('#items').tmpl(row2).appendTo('#gallery');
                        $('#gallery').append('</div>');

                        total--;
                        if (total == 0){
                            $('#load').remove();
                        } else {
                            $('#siguiente').html(text);
                        }
                    }
                ).fail(function(){
                    $('#load').remove();
                });

            });
        });

    </script>