<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="es" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="description" content="Aplicación Web para celebrar el día del uniforme, posteando en redes sociales la galéria de imagénes de nuestros miembros">
        <meta name="keywords" content="DiadelUniformeScout, uniforme, scout, uniforme scout, scout de venezuela, región falcón, distrito paraguaná, paraguaná">

        <link href="{% static "img/favicon.ico" %}" rel="shortcut icon" />

        <title>Día de Uniforme</title>

        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/theme.css" %}">

        {% if not active %}
        <link rel="stylesheet" type="text/css" href="{% static "css/countdown.css" %}">
        {% endif %}
        <!-- <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"> -->

        <!-- <script  type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
        <!-- <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->

        <!--Load the AJAX API-->
        <!-- <script type="text/javascript" src="https://www.google.com/jsapi" async></script> -->

    </head>
    <body>

        <div class="navbar navbar-fixed-top header">
            <div class="col-md-12" id="col-collapse1">
                  <div class="navbar-header">
                    <a href="/" class="navbar-brand"><img src="{% static "img/logo_es.png" %}" /></a>
                  </div>
              </div>
        </div>
        <div class="navbar navbar-default" id="subnav">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="col-md-12">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="navbar-collapse2">
                        {% if albums %}
                            {% for item in albums %}
                                {% if item.album == id_album %}
                                    <li class="active"><a href>{{item.album}}</a></li>
                                {% else %}
                                    <li><a href="/album/{{item.album}}">{{item.album}}</a></li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li><a href="#">No hay Albumnes</a></li>
                        {% endif %}
                   </ul>
                </div>
            </div>
        </div>

        <section class="container" id="main">
            <section class="row">
                <div class="col-md-6">
                    <!-- FIXME: debo hacer un flexbox para resolver el problema de estos bloques repetidos -->
                    {% if not active %}
                    <div class="panel panel-default movil" id="countdown">
                        <div class="panel-body">
                            <header>
                                <!-- HEADLINE -->
                                <h1 data-animated="GoIn"><b>#DiaUniformeScout</b> en...</h1>
                            </header>
                            <!-- START TIMER -->
                            <div id="timer" data-animated="FadeIn">
                                <p id="message"></p>
                            </div>
                            <!-- END TIMER -->
                        </div>
                    </div>
                    {% endif %}
                    <div class="well">
                        <h4>Subir Foto</h4>
                        <div class="panel-body desktop">
                            {% if message %}
                                {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                            <form action="/subir/" method="post" enctype="multipart/form-data" post="">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <br>
                                        <input name="album" type="hidden" value="{{ id_album }}">
                                        <input name="url" type="file" class="filestyle" data-buttonText="Seleccione Foto" data-iconName="fa fa-inbox" data-size="md">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        {% if active %}
                                            <button type="submit" name="submit" class="btn btn-success"><i class="fa fa-upload"></i> Subir</button>
                                        {% else %}
                                            <button type="submit" name="submit" class="btn btn-success" disabled><i class="fa fa-upload"></i> Subir</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>#DiadelUniformeScout</h4>
                        </div>
                        <div class="panel-body">
                            <blockquote>
                                <img src="{% static "img/BadenPowell.gif" %}" alt="Baden Powell (1857-1941)" class="img-circle pull-right">
                                <p>La indumentaria Scout, por su uniforme, constituye un lazo más de hermandad entre los muchachos de todo el mundo.</p>
                                <footer>
                                    Baden Powell (1857-1941)
                                </footer>
                            </blockquote>

                            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://uniforme.scoutsfalcon.org" data-text="Celebrando el orgullo de ser Scout con" data-via="ScoutsFalcon" data-hashtags="DiadelUniformeScout">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                            <script src="https://apis.google.com/js/platform.js" async defer></script>
                            <g:plusone></g:plusone>

                            <div id="fb-root"></div>
                            <script>(function(d, s, id) {
                              var js, fjs = d.getElementsByTagName(s)[0];
                              if (d.getElementById(id)) return;
                              js = d.createElement(s); js.id = id;
                              js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.3&appId=213890375309392";
                              fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>

                            <div class="fb-like" data-href="http://uniforme.scoutsfalcon.org/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="gallery">
                {% if not active %}
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="panel panel-default desktop" id="countdown">
                            <div class="panel-body">
                                <header>
                                    <!-- HEADLINE -->
                                    <h1 data-animated="GoIn"><b>#DiadelUniformeScout</b> en...</h1>
                                </header>
                                <!-- START TIMER -->
                                <div id="timer" data-animated="FadeIn">
                                    <div id="days" class="timer_box"></div>
                                    <div id="hours" class="timer_box"></div>
                                    <div id="minutes" class="timer_box"></div>
                                    <div id="seconds" class="timer_box"></div>
                                </div>
                                <!-- END TIMER -->
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                {% endif %}
                {% if all == 0 and active %}
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Galería</h4>
                            </div>
                            <div class="panel-body">
                                <h4 class="text-center">Galería vacía</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                {% endif %}
                <div class="row">
                    {% for photo in photos %}
                    {% if forloop.counter0 == 0 %}
                        <div class="col-md-4">
                            <div class="panel panel-default photo">
                                <div class="panel-thumbnail">
                                    {% for item in albums %}
                                        {% if item.album == id_album %}
                                            <img src="{{ item.url }}" title="#DiadelUniformeScout" alt="#DiadelUniformeScout" class="img-responsive">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="panel-body">
                                    <p><a href="https://twitter.com/hashtag/DiadelUniformeScout">#DiadelUniformeScout</a></p>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="col-md-4">
                        <div class="panel panel-default photo">
                            <div class="panel-thumbnail">
                                <img src="{{ photo.url }}" class="img-responsive">
                            </div>
                            <div class="panel-body">
                                <p>Publicado: {{ photo.creado_at|date:"d/m/Y H:i" }}</p>
                            </div>
                        </div>
                    </div>


                {% if forloop.counter == 2 %}
                </div><div class="row">
                {% endif %}

                {% if forloop.counter|divisibleby:6 %}
                </div><div class="row">
                {% endif %}

                {% endfor %}

                </div>
            </section>


            {% if next %}
            <div class="row">
                <div class="col-md-12" id="load">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <a href="/pagina/" id="siguiente"><i class="fa fa-angle-double-down"></i> Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}


        </section>

        {% include "footer.html" %}


        {% if not active %}
        <script type="text/javascript" src="{% static "js/countdown.js" %}"></script>
        {% endif %}

    </body>
</html>
